

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Adres</th>
      <th>Naam</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pkt of routelijst.pakketten">
        <td>{{pkt.id}}</td>
        <td>{{pkt.adres}}, {{pkt.stad}}</td>
        <td>{{pkt.naam}}</td>
        <td>{{pkt.latitude}}</td>
        <td>{{pkt.longitude}}</td>
    </tr>
  </tbody>
</table>

<br>
<hr>
<br>
<button type="submit" (click)="Bereken()">Bereken kortste route</button>
<table *ngIf="route">
  <tr *ngFor="let r of route">
    <td>{{r.adres}}</td>
  </tr>
</table>